[ "AWS/CloudFront", "TotalErrorRate", "Region", "Global", "DistributionId", "${distribution_id}" ],
[ ".", "5xxErrorRate", ".", ".", ".", "." ],
[ ".", "4xxErrorRate", ".", ".", ".", "." ],
[ ".", "BytesDownloaded", ".", ".", ".", "." ],
[ ".", "BytesUploaded", ".", ".", ".", "." ],
[ ".", "Requests", ".", ".", ".", "." ]