[ "AWS/Lambda", "Throttles", "FunctionName", "${lambda_name}", "Resource", "${lambda_name}", { "visible": false } ],
[ ".", "Duration", ".", ".", ".", ".", { "visible": false } ],
[ ".", "Invocations", ".", ".", ".", ".", { "visible": false } ],
[ ".", "ConcurrentExecutions", ".", ".", ".", "." ],
[ ".", "Errors", ".", ".", ".", "." ]
